# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Environment files
.env
.venv/
venv/

# Database files
*.sqlite3
sqlite3.*

# Logs and coverage
*.log
*.coverage

# IDE-specific files
.vscode/
.idea/

# Allow .env.example
!.env.example

# Profile images
/accounts/static/assets/profile/

# Diplomas
diplomas/
