{% extends "base_template.html" %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-box">
        <h1 class="login-title">Edit Profile</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}" role="alert">
        <div class="alert-message">{{ message }}</div>
    </div>
    {% endfor %}
{% endif %}
{% endwith %}

<form method="POST" action="{{ url_for('profile.edit_profile') }}" class="needs-validation" novalidate>
    {{ form.hidden_tag() }}

    <!-- Nombre y Apellido -->
    <div class="input-group mb-4">
        <div class="row">
            <div class="col-6">
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control", placeholder="Enter your name") }}
            {% for error in form.name.errors %}
            <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
            </div>
            <div class="col-6">
            {{ form.surname.label(class="form-label") }}
            {{ form.surname(class="form-control", placeholder="Enter your surname") }}
            {% for error in form.surname.errors %}
            <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
            </div>
        </div>
    </div>

    <!-- Email -->
    <div class="input-group mb-4">
        <div class="row">
            <div class="col-12">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control", placeholder="Enter your email") }}
                {% for error in form.email.errors %}
                <span class="error-text">{{ error }}</span><br>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Contraseña y Confirmación -->
    <div class="input-group mb-4">
        <div class="row">
            <div class="col-6">

            {{ form.password.label(class="form-label") }}
            <div class="input-group">
                <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    placeholder="Enter new password"
                    value="" >
                
                <button type="button" class="btn btn-outline-secondary" id="toggle-password" tabindex="-1">
                    <img id="eye-icon" src="{{ url_for('static', filename='img/ojoabierto.png') }}" width="24" height="24"> </button>
            </div>
            {% for error in form.password.errors %}
            <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div class="col-6">
            {{ form.confirm_password.label(class="form-label") }}
            {{ form.confirm_password(class="form-control", placeholder="Confirm new password") }}
            {% for error in form.confirm_password.errors %}
            <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>
    </div>
    </div>

    <!-- Botón de Actualizar -->
    <div class="submit-container">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
</div>
</div>

<!-- Script para alternar visibilidad de la contraseña -->
<script>
    document.getElementById('toggle-password').addEventListener('click', function () {
        const passwordInput = document.getElementById('password');
        const eyeIcon = document.getElementById('eye-icon');
        
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            eyeIcon.src = "{{ url_for('static', filename='img/ojocerrado.png') }}"; // Ojo cerrado
        } else {
            passwordInput.type = 'password';
            eyeIcon.src = "{{ url_for('static', filename='img/ojoabierto.png') }}"; // Ojo abierto
        }
    });
</script>
{% endblock %}
