#myDropzone {
    min-height: auto;
    border: 2px dashed #ccc;
    border-radius:10px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#myDropzone .dz-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 150px;
}

#myDropzone .dz-preview .dz-details {
    text-align: center;
    padding: 5px;
}

#dropzone-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#file-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#file-list li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #F4F7FB;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.remove-button {
    margin-left: 10px;
}

/* Estilo para el contenedor del formulario */
/* CSS para centrar el contenedor */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../img/FondoInnosoft1.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.form-box {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 1200px;
}

.form-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.input-group {
    margin-bottom: 1.5rem;
}

.submit-container {
    text-align: center;
    margin-top: 1.5rem;
}


.form-container .welcome-box {
    margin-bottom: 30px;
}

.form-container h2.display-4 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #007bff;
}

.form-container .login-box {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

.form-container .login-title {
    font-size: 1.8rem;
    font-weight: 600;
    color: #333333;
    margin-bottom: 20px;
}

.form-container .input-group {
    margin-bottom: 20px;
}

.form-container .input-group label {
    font-size: 1.2rem;
    font-weight: 500;
    color: #495057;
}

.form-container .input-group input,
.form-container .input-group select,
.form-container .input-group textarea {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #ced4da;
    box-sizing: border-box;
}

.form-container .input-group input:focus,
.form-container .input-group select:focus,
.form-container .input-group textarea:focus {
    border-color: #007bff;
    outline: none;
}

.form-container .text-muted {
    font-size: 1rem;
    color: #6c757d;
    margin-top: 10px;
}

.form-container .submit-container {
    text-align: center;
    margin-top: 30px;
}

.form-container .submit-container button {
    font-size: 1.2rem;
    padding: 12px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.form-container .submit-container button:hover {
    background-color: #0056b3;
}

