{% extends "base_template.html" %}

{% block title %}View diplomas{% endblock %}

{% block content %}
<div class="container my-4 p-4 bg-white shadow rounded">
    <h2 class="text-center mb-4">Choose and Send Diplomas</h2>
    
    <div class="filter-container text-center mb-4">
        <div class="search-bar d-inline-block">
            <input type="text" id="uvus-filter" placeholder="Filter by UVUS" class="form-control d-inline-block w-auto">
            <button class="btn btn-secondary" onclick="filterByUVUS()">FILTER</button>
            <button class="btn btn-warning" onclick="resetFilters()">RESET</button>
        </div>
        <div class="participation-filter d-inline-block ms-3">
            <span>Filter by Participation:</span>
            <button class="btn btn-light" onclick="filterByParticipation('ORGANIZATION')">ORGANIZATION</button>
            <button class="btn btn-light" onclick="filterByParticipation('INTERMEDIATE')">INTERMEDIATE</button>
            <button class="btn btn-light" onclick="filterByParticipation('ASSISTANCE')">ASSISTANCE</button>
            <button class="btn btn-warning" onclick="resetParticipationFilter()">RESET</button>
        </div>
    </div>

    <div class="actions text-center mb-4">
        <button class="btn btn-success" onclick="sendSelectedDiplomas()">SEND DIPLOMAS SELECTED</button>
        <button class="btn btn-dark" onclick="selectAll()">SELECT ALL</button>
        <button class="btn btn-dark" onclick="deselectAll()">DESELECT ALL</button>
    </div>
</div>


{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="row">
    <div class="col-12 mb-3">
        <!-- Aquí se elige la clase en función de la categoría del mensaje -->
        <div class="alert alert-{{ category }}" role="alert">
            <div class="alert-message">
                {% if category == 'success' %}
                <h4 class="alert-heading"><i class="align-middle" data-feather="check-circle"></i> Success</h4>
                {% elif category == 'error' %}
                <h4 class="alert-heading"><i class="align-middle" data-feather="x-circle"></i> Error</h4>
                {% endif %}
                <p style="margin-bottom: 0px">{{ message }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>uvus</th>
            <th>Participation</th>
            <th>View Diploma</th>
            <th>SENT?</th>
            <th>Select to Send</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for diploma in diplomas %}
        <tr>
            <td>{{ diploma.id }}</td>
            <td>{{ diploma.nombre }}</td>
            <td>{{ diploma.apellidos }}</td>
            <td>{{ diploma.correo }}</td>
            <td>{{ diploma.uvus }}</td>
            <td>{{ diploma.participacion }}</td>
            
         <!-- Botón para ver el diploma -->
         <td>
            <a href="{{ url_for('diplomas.view_diploma', diploma_id=diploma.id) }}" target="_blank" class="btn btn-info">
                View Diploma
            </a>
        </td>
        <td>
            {% if diploma.sent %}
                <span class="badge bg-success">✔</span>
            {% else %}
                <span class="badge bg-danger">✖</span>
            {% endif %}
        </td>

        <!-- Checkbox para seleccionar para enviar -->
        <td><input type="checkbox" class="send-checkbox"></td>

        <!-- Botón para eliminar el diploma -->
        <td>
            <form method="POST" action="{{ url_for('diplomas.delete_diploma', diploma_id=diploma.id) }}" onsubmit="return confirm('Are you sure you want to delete this diploma?');">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </td>
    </tr>
    {% else %}
    <tr>
        <td colspan="9" class="text-center">No diplomas available</td>
    </tr>
    {% endfor %}
</tbody>
</table>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('diplomas.assets', subfolder='js', filename='scripts.js') }}"></script>
{% endblock %}