{% extends "base_template.html" %}

{% block title %}View diplomas{% endblock %}

{% block content %}
<h2>Generador de Diplomas</h2>
<form method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.hours_excel.label }}
        {{ form.hours_excel(class="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
</form>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('diplomas.assets', subfolder='js', filename='scripts.js') }}"></script>
{% endblock %}
